/* Tổng quát */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Bố cục container */
.container {
    display: flex;
    height: 100vh;
}

/* Phần bên trái */
.left-section {
    flex: 1;
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(255, 237, 211);
}

.left-section h1 {
    font-size: 48px;
    margin-bottom: 10px;

}

.left-section p {
    font-size: 18px;
    margin-bottom: 30px;
}

.buttons .download-btn {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.soon {
    font-size: 10px;
    color: rgb(164, 160, 160);
}

.download-btn:hover {
    background-color: #0056b3;
}
/* Nút download */
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; /* Khoảng cách giữa các nút */
    margin-bottom: 10px;
}

/* Đảm bảo các nút có cùng kích thước */
.download-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
}

/* Hình ảnh SVG cho nút */
.download-icon {
    width: auto; /* Chiều rộng của icon */
    height: 60px;
    cursor: pointer;
}

.download-icon-win {
    width: auto; /* Chiều rộng của icon */
    height: 60px;
    cursor: pointer;
    margin-top: 52px;
}


/* Dòng chữ "coming soon" */
.coming-soon {
    margin-top: 10px;
    font-size: 14px;
    color: #ff0000;
    font-style: italic;
}

/* Phần bên phải */
.right-section {
    flex: 2.5;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-stars {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('stars-background.jpg') no-repeat center center/cover;
    z-index: -1;
}

.video-container {
    z-index: 1;
}

iframe {
    border: none;
    border-radius: 10px;
}
